.side-bar {
  &-list {
    &__item {
      width: 300px;

      &__link {
        display: flex;
        padding: 20px 0 20px 20px;
        font-size: 16px;

        &.active {
          font-weight: bold;
        }

        &:hover,
        &.active {
          background-color: #fff;
        }
      }

      &__icon {
        margin-right: 10px;
      }
    }
  }
}