.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 150px;
  background-color: #e44231;
}

.logo {
  width: 30px;
}

.add, .ghost {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.icon + .icon {
  margin-left: 30px;
}