.projects {
  padding: 15px 0 15px 20px;

  &-trigger {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;

    &.open {
      font-weight: bold;
    }

    &__icon {
      margin-right: 10px;
    }
  }

  &-list {
    margin-bottom: 20px;

    &__item+&__item {
      margin-top: 20px;
    }

    &__item {
      position: relative;
      cursor: pointer;

      &-nav-link {
        display: flex;
        align-items: center;

        &.active {
          font-weight: bold;
        }
      }

      .color-tag {
        display: inline-block;
        flex-shrink: 0;
        width: 6px;
        height: 6px;
        margin-right: 5px;
        border-radius: 50%;
      }

      .emoji {
        flex-shrink: 0;
        font-size: 20px;
        margin-right: 5px;
      }

      .title {
        margin-right: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:hover {
        .del-btn {
          display: block;
        }
      }

      .del-btn {
        display: none;
        position: absolute;
        right: 15px;
        font-size: 18px;
        border-radius: 3px;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
          background-color: #f4f4f4;
        }
      }
    }
  }

  &-add-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: pointer;

    &__icon {
      margin-right: 10px;
      font-size: 20px;
      color: #e44231;
    }
  }
}